<div class="task">
  <div class="header">
      <div>
        <!-- Render title here... -->
        {{ task.title }}
      </div>
      <!-- Markup for dropdown menu here... -->
      <select (change)="handleChange($event)">
        <option *ngFor="let statusType of statusList"
        value="{{ statusType }}" [selected]="statusType === task.status">{{ statusType }}</option>
      </select>
  </div>
  <hr>
  <div class="body">
      <!-- Render description here... -->
      {{ task.description }}
  </div>
</div>
