<form style="margin-bottom: 10px">

    <input [(ngModel)]="obj.title" name="title" class="input" type="text" placeholder="title" required minlength="3"/>
    
    <div class="error" *ngIf="isMinLength()">
        <p>
            Minimum 3 letters in title!
        </p>
    </div>

    <input [(ngModel)]="obj.description" name="description" class="input" type="text" placeholder="description" />

    <button [disabled]="titleValid()" (click)="onSaveTask($event)" type="submit">
        Save
    </button>
</form>